.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: var(--leagueSpartan-medium-500);
  font-size: var(--sub-heading);
  overflow-y: auto;
}
.section1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  height: max-content;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  flex: 1;
  /* border: 10px solid pink; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.components {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.components > svg {
  font-size: 1rem;
  color: black;
}

.videoBox {
  display: flex;
  justify-content: center;
  flex: 1;
}

.videoBox > h1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--leagueSpartan-light-300);
  font-size: 1.5rem;
}

.wrapper {
  width: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.externalLink {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  /* border: 1px solid blue; */
}

.externalLink > a {
  border: none;
  width: max-content;
  text-decoration: none;
  font-family: var(--leagueSpartan-medium-500);
  font-size: var(--sub-heading);
  color: var(--main-color);
  transition: all 0.5s ease;
}

.externalLink > a:hover {
  text-decoration: underline;
}
