.historyCard {
  border-radius: 15px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px -1px 10px 0px rgba(56, 182, 255, 0.2) inset;
  height: 100%;
  width: calc(50% - 5px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* overflow-y: auto; */
}

.historyTitleLarge {
  font-family: var(--leagueSpartan-bold-700);
  font-size: var(--normal-text-size-vh);
  line-height: var(--normal-text-size-vh);
  color: var(--black-color);
  letter-spacing: -0.085px;
  height: max-content;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 0 1 calc(100% - 10px);
  min-height: 0;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.tableBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 0 1 calc(100% - 10px);
  min-height: 0;
  overflow-y: auto;
}

.tableFilter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--leagueSpartan-medium-500);
  font-size: var(--regular-text-size-vh);
  line-height: var(--regular-text-size-vh);
  color: var(--text-color);
  width: 33.3%;
}

.filterIcon {
  width: 1rem;
  height: 1rem;
}

.tableRows {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.tableRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eff0f1;
  padding-bottom: 5px;
  width: 100%;
}

.tableCell {
  width: 33.3%;
  font-family: var(--leagueSpartan-medium-500);
  font-size: var(--regular-text-size-vh);
  line-height: var(--regular-text-size-vh);
  color: var(--black-color);
}
