@font-face {
  font-family: "League Spartan Medium";
  src: url("/fonts/league-spartan/LeagueSpartan-Medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "League Spartan Thin";
  src: url("/fonts/league-spartan/LeagueSpartan-Thin.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "League Spartan Light";
  src: url("/fonts/league-spartan/LeagueSpartan-Light.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "League Spartan Regular";
  src: url("/fonts/league-spartan/LeagueSpartan-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "League Spartan SemiBold";
  src: url("/fonts/league-spartan/LeagueSpartan-SemiBold.ttf")
    format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "League Spartan Bold";
  src: url("/fonts/league-spartan/LeagueSpartan-Bold.ttf") format("truetype");
  font-style: normal;
}
:root {
  /* colors */
  --main-color: #38b6ff;
  --light-blue: #afe2ff;
  --secondary-color: #565656;
  --inputBackground-color: #eeeeee;
  --icon-color: #9b9b9b;
  --text-color: #8d8d8d;
  --input-box-shadow-color: #cfcfcf;
  --icons-color: #444444;
  --white-color: #fff;
  --black-color: #2d2d2d;
  --transparent-blur-color: rgba(255, 255, 255, 0.2);

  /* dashboard colors */
  --dMain-color: #ecf8ff;

  /* font families */
  --leagueSpartan-thin-100: "League Spartan Thin", sans-serif;
  --leagueSpartan-light-300: "League Spartan Light", sans-serif;
  --leagueSpartan-regular-400: "League Spartan Regular", sans-serif;
  --leagueSpartan-medium-500: "League Spartan Medium", sans-serif;
  --leagueSpartan-semiBold-600: "League Spartan SemiBold", sans-serif;
  --leagueSpartan-bold-700: "League Spartan Bold", sans-serif;

  /* font sizes in vw*/
  --heading-size: 2.5vw;
  --sub-heading: 1.7vw;
  --text-size: 1.2vw;
  --normal-text-size: 1vw;
  --sText-size: 0.833vw;

  --main-heading-vw: 3.125vw; /* 60px */
  --sub-heading-vw: 2.604vw; /* 50px */
  --small-heading-vw: 2.083vw; /*40px*/
  --xxxl-text-size-vw: 1.563vw; /* 30px */
  --xxxl-text-size-vw: 1.458vw; /* 28px */
  --large-regular-text-size-vw: 1.354vw; /* 26px */
  --xl-text-size-vw: 1.25vw; /* 24px */
  --large-text-size-vw: 1.146vw; /* 22px */
  --medium-text-size-vw: 1.042vw; /* 20px */
  --normal-text-size-vw: 0.938vw; /* 18px */
  --regular-text-size-vw: 0.833vw; /* 16px */
  --sl-text-size-vw: 0.729vw; /* 14px */
  --xsl-text-size-vw: 0.651vw; /* 12px */

  /* dashboard headings */
  --dHeading-size: 3vw;
  --dSubHeadingp-size: 2vw;

  /* dashboard font sizes in vh*/
  --main-heading-vh: 6vh;
  --sub-large-heading-vh: 4.5vh;
  --sub-normal-heading-vh: 4vh;
  --sub-medium-heading-vh: 3.4vh;
  --sub-small-heading-vh: 3.2vh;
  --sub-heading-vh: 3vh;
  --xxxl-text-size-rem: 2.8vh;
  --large-regular-text-size-vh: 2.6vh;
  --normal-text-size-vh: 2.4vh;
  --medium-text-size-vh: 2.2vh;
  --regular-text-size-vh: 2vh;
  --small-text-size-vh: 1.8vh;
  --extraSmall-text-size-vh: 1.6vh;
  --sl-text-size-rem: 1.4vh;
  --extraXsmall-text-size-vh: 1.2vh;

  /* dashboard font sizes in rem*/
  --main-heading-rem: 3.75rem; /* 60px */
  --sub-heading-rem: 3.125rem; /* 50px */
  --medium-heading-rem: 2.813rem; /* 45px */
  --small-heading-rem: 2.5rem; /* 40px */
  --xxxl-text-size-rem: 1.875rem; /* 30px */
  --xxxl-text-size-rem: 1.75rem; /* 28px */
  --xxl-text-size-rem: 1.625rem; /* 26px */
  --xl-text-size-rem: 1.5rem; /* 24px */
  --large-text-size-rem: 1.375rem; /* 22px */
  --medium-text-size-rem: 1.25rem; /* 20px */
  --normal-text-size-rem: 1.125rem; /* 18px */
  --regular-text-size-rem: 1rem; /* 16px */
  --sl-text-size-rem: 0.875rem; /* 14px */
  --xsl-text-size-rem: 0.75rem; /* 12px */
  --xxsl-text-size-rem: 0.625rem; /* 10px */
  --xxxsl-text-size-rem: 0.5rem; /* 8px */
  --xxxxsl-text-size-rem: 0.375rem; /* 6px */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
  position: relative !important;
}
::-webkit-scrollbar-track {
  background: transparent;
  display: none;
}
::-webkit-scrollbar-thumb {
  background: #9c9c9c;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

html,
body {
  width: 100%;
  height: 100%;
  max-width: 100dvw;
  max-height: 100dvh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.toast {
  font-family: var(--leagueSpartan-medium-500);
  font-size: var(--extraSmall-text-size-vh);
}
