.container {
  display: flex;
  align-items: center;
  gap: 10px;
  height: max-content;
  width: 100%;
  background-color: transparent;
  padding: 10px;
}

.container:hover {
  background-color: var(--light-blue);
  cursor: pointer;
}

.imageBox {
  overflow: hidden;
  border-radius: 40px;
  position: relative;
  width: clamp(5vh, 5vh, 5vh);
  height: clamp(5vh, 5vh, 5vh);
}

.contentBox {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  width: calc(100% - 5vh);
}

.contentBox > :nth-child(1),
.contentBox > :nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contentBox > :nth-child(1) > p {
  font-family: var(--leagueSpartan-medium-500);
  font-size: var(--regular-text-size-vh);
  line-height: var(--regular-text-size-vh);
  margin: 0px !important;
  width: fit-content;
}

.contentBox > :nth-child(2) > p {
  font-family: var(--leagueSpartan-medium-500);
  font-size: var(--regular-text-size-vh);
  line-height: var(--regular-text-size-vh);
  margin: 0px !important;
  width: max-content;
}

.contentBox > :nth-child(1) > :nth-child(2) {
  color: var(--text-color);
}

.contentBox > :nth-child(2) > p {
  font-family: var(--leagueSpartan-medium-500);
  font-size: var(--regular-text-size-vh);
  line-height: var(--regular-text-size-vh);
  color: var(--text-color);
  margin: 0px !important;
  width: max-content;
}

.newChatSign {
  width: 1.5vh;
  height: 1.5vh;
  background-color: var(--main-color);
  border-radius: 100%;
}
