.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.container > p {
  font-family: var(--leagueSpartan-medium-500);
  font-size: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem);
}

.imageBox {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}
