.container {
  border: 1px solid #e4e4e7;
  border-radius: 7.5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fdfdfe;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header > p {
  font-family: var(--leagueSpartan-regular-400);
  font-size: 1rem;
  line-height: 1.25rem;
}

.number {
  font-family: var(--leagueSpartan-medium-500);
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.text {
  font-family: var(--leagueSpartan-regular-400);
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--text-color);
}
