.table {
  flex: 1 1 calc(100% - 10px);
  min-height: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* justify-content: space-between; */
}

.tableHead {
  display: flex;
  align-items: center;
  height: max-content;
}

.tableHeadCell {
  font-family: var(--leagueSpartan-medium-500);
  font-size: var(--regular-text-size-vh);
  font-style: normal;
  line-height: 16px;
  color: var(--text-color);
  width: 12.5%;
}

.tableBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 0 1 calc(100% - 10px);
  min-height: 0;
  overflow-y: auto;
  padding-top: 5px;
}

.tableRow {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d7dde2;
  height: max-content;
  padding-bottom: 10px;
}

.tableColumn {
  font-family: var(--leagueSpartan-medium-500);
  font-size: var(--medium-text-size-vh);
  color: var(--black-color);
  width: 12.5%;
  height: max-content;
  min-height: max-content;
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dMain-color);
  border-radius: 5px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  transition: all transform 0.4s ease;
  width: max-content;
}

.iconBox > svg {
  height: var(--medium-text-size-vh);
  width: var(--medium-text-size-vh);
}

.iconBox:hover {
  transform: scale(1.2);
}
